{% load static %}

  <!-- Main Header -->
  <header class="main-header">
    <div class="container">
        <div class="outer-container">
            <div class="main-box">
                <div class="logo-box">
                    <figure class="logo"><a href="index.html"><img src="{% static 'web/images/logo.png' %}" alt=""></a></figure>
                </div>
                <div class="nav-outer clearfix">
                    <div class="menu-area">
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home Page 01</a></li>
                                            <li><a href="index-2.html">Home Page 02</a></li>
                                            <li><a href="index-3.html">Home Page 03</a></li>
                                            <li><a href="index-4.html">Home Page 04</a></li>
                                            <li><a href="index-5.html">Home Page 05</a></li>
                                            <li><a href="index-6.html">Home Page 06</a></li>
                                            <li class="dropdown"><a href="#">Header Styles</a>
                                            <ul>
                                                <li><a href="index.html">Header Style 01</a></li>
                                                <li><a href="index-2.html">Header Style 02</a></li>
                                                <li><a href="index-3.html">Header Style 03</a></li>
                                                <li><a href="index-4.html">Header Style 04</a></li>
                                                <li><a href="index-5.html">Header Style 05</a></li>
                                                <li><a href="index-6.html">Header Style 06</a></li>
                                            </ul>
                                        </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="dropdown"><a href="#">Portfolio</a>
                                        <ul>
                                            <li><a href="portfolio.html">Portfolio Type 01</a></li>
                                            <li><a href="portfolio-2.html">Portfolio Type 02</a></li>
                                            <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                        </ul>
                                    </li> 
                                    <li class="dropdown"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="service.html">Our Services</a></li>
                                            <li><a href="testimonial.html">Our Testimonial</a></li>
                                            <li><a href="clients-page.html">Clients Page</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-classic.html">Blog Classic</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>                              
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="outer-box">
                        <div class="header-flyout-searchbar">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="share-box">
                            <a href="#" class="share-btn"><i class="fas fa-share-alt"></i></a>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container clearfix">
            <figure class="logo-box"><a href="index.html"><img src="{% static 'web/images/small-logo.png' %}" alt=""></a></figure>
            <div class="menu-area">
                <nav class="main-menu navbar-expand-lg">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current dropdown"><a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Page 01</a></li>
                                    <li><a href="index-2.html">Home Page 02</a></li>
                                    <li><a href="index-3.html">Home Page 03</a></li>
                                    <li><a href="index-4.html">Home Page 04</a></li>
                                    <li><a href="index-5.html">Home Page 05</a></li>
                                    <li><a href="index-6.html">Home Page 06</a></li>
                                    <li class="dropdown"><a href="#">Header Styles</a>
                                    <ul>
                                        <li><a href="index.html">Header Style 01</a></li>
                                        <li><a href="index-2.html">Header Style 02</a></li>
                                        <li><a href="index-3.html">Header Style 03</a></li>
                                        <li><a href="index-4.html">Header Style 04</a></li>
                                        <li><a href="index-5.html">Header Style 05</a></li>
                                        <li><a href="index-6.html">Header Style 06</a></li>
                                    </ul>
                                </li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li class="dropdown"><a href="#">Portfolio</a>
                                <ul>
                                    <li><a href="portfolio.html">Portfolio Type 01</a></li>
                                    <li><a href="portfolio-2.html">Portfolio Type 02</a></li>
                                    <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                </ul>
                            </li> 
                            <li class="dropdown"><a href="#">Pages</a>
                                <ul>
                                    <li><a href="service.html">Our Services</a></li>
                                    <li><a href="testimonial.html">Our Testimonial</a></li>
                                    <li><a href="clients-page.html">Clients Page</a></li>
                                    <li><a href="error.html">Error Page</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-classic.html">Blog Classic</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>                              
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div><!-- sticky-header end -->
</header>
<!-- End Main Header -->